@charset "utf-8";
/* CSS Document */


html{}
body,html{margin:0; padding:0;}
body{font:400 12px/18px 'helvetica','Open Sans', sans-serif; background:#4B4B4B; color:#626262;}

/* RESET CSS */
.h1{color:#135e82; font-size:20px; font-weight:300; padding:0 0 15px 0; margin:0; line-height:16px;}
p{margin:5px 0; padding:0;}
ul{margin:0; padding:0;}
img,a{border:None;}
a{text-decoration:none; color:#626262;}


/* ALL CLASS */
.left{clear:both; float:left;}
.center{float:left;}
.right{float:right;}
.width_100{width:100%;}
.underline{clear:both; float:left; border-bottom:1px solid #ccc; width:100%; padding:5px 0; margin:5px 0 10px 0; height:1px;}
.h-page{color:#8e54a3; font:24px 'oswaldregular',Arial; margin:20px 0 5px 0; padding:0; width:100%; text-transform:uppercase; clear:both; float:left;}
.align_center{width:100%; text-align:center;}
.align_right{text-align:right;}
.button{border:1px solid #9e9e9e; color:#3e3e3e; border-radius:4px; padding:3px;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.container{
	width:100%; clear:both; float:left; 
	padding: 10px; box-sizing: border-box;
	text-align: center; font-size: 0;
	height: 100%; position: absolute; top: 0; left: 0;
}

.colum{
	width:24%; display: inline-block; background: #fff;
	box-sizing: border-box; text-align: left; font-size: 12px;
	margin:0 0.5%; height: 100%; 
}

.list-box{
	height: 92%; 
	clear: both; float: left; width: 100%;
}
.list-box li{
	display: block; clear: both; float: left; 
	width:100%; padding:17px 5px; box-sizing: border-box;
	margin: 0px 0; border-bottom:1px solid #292F33;
}

.list-box li:nth-child(even){background:#222d32;}

.box-h{
	background:#367fa9; color:#fff;
	padding:15px 10px; box-sizing: border-box; 
	width:100%; border-bottom:2px solid #1a2226;
}
.box-h span, .box-h img{display: inline-block; vertical-align: middle;}
.box-h img{width: 20%}
.box-h span{font-weight:600; width: 75%; font-size:13px; padding: 0 0 0 10px;}

.box-logo{
	width:13%; display: inline-block;
	border:1px solid #fff;
}

.user-pic{ 
	display: block; width: 40px; float: left;
	border-radius: 5px; overflow: hidden;
}
.user-pic img{display: block; width: 100%;}

.list-right{float: left; width: 82%; padding: 0 0 0 10px;}

.list-name{margin: 0; padding: 0; font-weight: 600; font-size: 13px; color: white;}

.list-txt{line-height: 16px;}

.list-date{color: #8899a6; font-size: 10px; font-style: italic; display: inline-block; float: right;}

.list-social{padding: 5px 0 0;}
.social-icon{display: inline-block; margin: 0 10px 0 0; color:#4b7998;}
.social-icon span{padding: 0 0 0 5px; font-size:11px;}


	