    h1,h2,h3,h4,h5{
        color: #b8c7ce!important;
    }

    label{
        color: #b8c7ce!important;
    }

    .content-wrapper{
        background-color: #4B4B4B!important;
    }

    .gray-background{
        background-color: #4B4B4B!important;
    }

    .box{
        background-color: #1a2226!important;
        border-top : 0px!important;
        color: #b8c7ce!important;
    }
    .box-header.with-border{
        border-bottom: 1px solid #4B4B4B!important;
    }
    .flot-text {
        color: #b8c7ce !important
    }