
   *{
        font-family: 'Kanit', sans-serif;
    }
    h1,h2{
        font-family: 'Kanit', sans-serif;
        color: #b8c7ce!important;
    }

    label{
        color: #b8c7ce!important;
    }
    .select2-container {
        width: 70%!important;
    }
    .content-wrapper{
        background-color: #4B4B4B!important;
    }

    .gray-background{
        background-color: #4B4B4B!important;
    }

    .gray-box{
        background-color: #1a2226!important;
        border-top : 0px!important;
        color: #b8c7ce!important;
    }
    .box-header.with-border{
        border-bottom: 1px solid #4B4B4B!important;
    }
    .flot-text {
        color: #b8c7ce !important;
    }
    .direct-chat-msg {
        width: 100%;
    }
    .direct-chat-img {
        padding: 8px 0px;
        font-size: 1.9em;
        border-radius: 50%;
        float: left;
        width: 40px;
        height: 40px;
        background: #d2d6de;
        color: #1a2226;
        text-align: center;
    }
    .navbar-nav>.tasks-menu>.dropdown-menu {
        width: 350px;
        border-radius: 0px 0px 10px 10px;
        padding: 0 0 0 0;
        margin: 0;
        top: 100%;
        height: 500px;
    }
    .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
        padding: 20px 20px;
        font-size: 1.2em;
        color: #666;
    }
    .menu>li>a>.pull-left{
        padding-right: 20px;
    }
    .chat-box{
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 999;
    }
    .chat-box>.box{
        width: 400px;
        position: fixed;
        bottom: 10px;    
    }
    .chat-button{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        font-size: 20px;
        color: #FFF!important;
    }
    .chat-button>span{
        font-size: 15px;
        display: block;
    }
    .chat-box>.box>.box-header{
        background-color: #3c8dbc;
        color: #FFF;
    }
    .chat-box>.box>.box-header>.pull-right>button{
        color: #FFF;
    }
    .sk-cube-grid {
        width: 50px;
        height: 50px;
        margin: 100px auto;
    }
    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #FFF;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    }
    .sk-cube-grid .sk-cube1 
    {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; 
    }
    .sk-cube-grid .sk-cube2 
    {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; 
    }
    .sk-cube-grid .sk-cube3 
    {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; 
    }
    .sk-cube-grid .sk-cube4 
    {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; 
    }
    .sk-cube-grid .sk-cube5 
    {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; 
    }
    .sk-cube-grid .sk-cube6 
    {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; 
    }
    .sk-cube-grid .sk-cube7 
    {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; 
    }
    .sk-cube-grid .sk-cube8 
    {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; 
    }
    .sk-cube-grid .sk-cube9 
    {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; 
    }

    @-webkit-keyframes sk-cubeGridScaleDelay 
    {
        0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        } 35% {
            -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
        }
    }

    @keyframes sk-cubeGridScaleDelay 
    {
        0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        } 35% {
            -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
        } 
    }

    .nav>.active>a {
        background: rgb(75, 75, 75)!important;
        color: #f6f6f6;
    }